.module-title-btn {
  height: 80px;
  width: 80vw;
  font-size: 20px !important;
  color: black !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: lightblue !important;
  /* background-color: #d59bf6 !important; */
}

.module-card {
  padding: 0 !important;
  width: 80vw;
}

.module-card .lesson {
  cursor: pointer;
}

.module-card .lesson:hover {
  background-color: #f0f0f0;
}

.module-card .lesson-details {
  margin-top: 20px;
}

.module-card button {
  margin-bottom: 5px;
}

/* Lesson title styling */
.module-card .lesson h3 {
  margin: 0;
}

/* Lesson content styling */
.module-card .lesson-details h3 {
  margin-bottom: 5px;
}

.lesson-title {
  font-size: 20px;
}
